.url-meta-dialog-container *,
.url-meta-containers *,
.url-meta-top-container *,
.url-meta-markdown-container * {
    margin: 0;
}

.url-meta-markdown-container p {
    font-size: 11px;
    line-height: 1.5em;
}

.url-meta-top-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 2px solid;
    margin-bottom: 15px;
}

.url-meta-top-container > p {
    font-size: 1.2rem;
}

.url-meta-top-container > button {
    appearance: button;
    outline: none;
    border-radius: 0.5rem;
    color: white;
    padding: 5px 10px;
    background-image: none;
    text-transform: none;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font: unset;
    background-color: #b90000;
}

.url-meta-containers {
    margin: 0 15px;
}

.url-meta-container {
    border: 2px solid;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.url-meta-markdown-container > .url-meta-container-compact {
    margin-bottom: 0px !important;
}

.url-meta-markdown-container > .url-meta-container-compact-mt {
    margin-top: 15px;
}

.url-meta-container-image {
    width: 100%;
    border-bottom: 2px solid;
    display: flex;
    justify-content: center;
}

.url-meta-container-image > img {
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
}

.url-meta-container-body {
    padding: 5px 10px;
}

.url-meta-container-title {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.url-meta-container-title,
.url-meta-container-description {
    margin: 5px 0;
}

.url-meta-container-footer {
    border-top: 2px solid;
    padding: 5px 5px 5px 10px;
    margin-top: 5px;
    overflow-wrap: anywhere;
    line-break: anywhere;
}

.url-meta-container-footer-icon {
    display: flex;
    align-items: center;
    color: inherit;
}

.url-meta-container-footer-icon > a {
    color: inherit !important;
    margin-right: 2px;
    flex: 1 1 0%;
}

.url-meta-container-buttons {
    display: flex;
}

.url-meta-container-buttons > button,
.url-meta-container-buttons > a {
    appearance: button;
    outline: none;
    border-radius: 0.5rem;
    color: white;
    padding: 5px 10px;
    flex: 1 1 0%;
    margin: 0 10px;
    background-image: none;
    text-transform: none;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font: unset;
}

.url-meta-container-copy {
    background: #1b8efd;
}

.url-meta-container-open {
    background: #06ad00;
}

.url-meta-container-refetch {
    background: #b90000;
}
