html {
    overflow: auto;
    text-overflow: clip;
    background-color: var(--joplin-background-color);
    color: var(--joplin-color);
    font-size: var(--joplin-font-size);
    font-family: var(--joplin-font-family);
}

.container {
    background-color: var(--joplin-background-color);
    color: var(--joplin-color);
    font-size: var(--joplin-font-size);
    font-family: var(--joplin-font-family);
}

/*  Scrollbar style
  https://github.com/laurent22/joplin/blob/571147acbbf9ea61fd287ba05008727201bea951/packages/app-desktop/main.scss#L29 
*/

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-corner {
    background: none;
}
::-webkit-scrollbar-track {
    border: none;
}
::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
}

/* End of Scrollbar style */
